body {
    background: #404040;
    font-family: \5FAE\8EDF\6B63\9ED1\9AD4, SealmemoryHeader,"DFKai-sb","Microsoft JhengHei", serif;
}

body, html {
    height: 100%;
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th {
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

fieldset, img {
    border: none;
}

abbr, acronym {
    border: 0;
}

samp, small, em {
    font-family: \5FAE\8EDF\6B63\9ED1\9AD4, SealmemoryHeader,"DFKai-sb","Microsoft JhengHei", serif;
}
/* 主選單 */


/**/
.outer-frame {
    width: 100%;
    text-align: center;
    background-color: #fff;
    float: left;
    border: 1px solid #333;
}

.inner-frame {
    width: 100%;
    background-color: #404040;
}

    .inner-frame td {
        border-right-width: 1px;
        border-top-style: none;
        border-right-style: solid;
        border-left-style: none;
        border-right-color: #fff;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #fff;
    }

/**/
.rom-1 {
    color: #fff;
    text-align: right;
    font-size: 100%;
    line-height: 30px;
}

    .rom-1 td {
        padding-right: 10px;
    }

        .rom-1 td:nth-child(1) {
            width: 20%;
        }

        .rom-1 td:nth-child(2) {
            width: 20%;
        }

        .rom-1 td:nth-child(3) {
            width: 40%;
        }

        .rom-1 td:nth-child(4) {
            width: 20%;
        }
/**/
.rom-2 {
    color: #fff;
    font-size: 100%;
    line-height: 30px;
}

    .rom-2 td {
        padding-left: 10px;
        padding-right: 10px;
    }

        .rom-2 td:nth-child(1) {
            width: 10%;
            text-align: left;
        }

        .rom-2 td:nth-child(2) {
            width: 10%;
            text-align: left;
        }

        .rom-2 td:nth-child(3) {
            width: 10%;
            text-align: left;
        }

        .rom-2 td:nth-child(4) {
            width: 10%;
            text-align: center;
        }

        .rom-2 td:nth-child(5) {
            width: 10%;
            text-align: right;
        }

        .rom-2 td:nth-child(6) {
            width: 10%;
            text-align: center;
        }

        .rom-2 td:nth-child(7) {
            width: 10%;
            text-align: right;
        }

        .rom-2 td:nth-child(8) {
            width: 10%;
            text-align: right;
        }

       

    .rom-2 .text-direction-t td {
        text-align: center;
        font-size: 90%;
        line-height: 20px;
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }

/**/
.color-yellow {
    background-color: #ffc000;
}

.color-green {
    background-color: #00b050;
}

.color-blue {
    background-color: #0070c0;
}

.color-red {
    background-color: #e60012;
}

/* 3 */

/**/
.rom-3 {
    color: #fff;
    font-size: 100%;
    line-height: 30px;
}

    .rom-3 td {
        padding-left: 10px;
        padding-right: 10px;
    }

        .rom-3 td:nth-child(1) {
            width: 20%;
            text-align: center;
        }

        .rom-3 td:nth-child(2) {
            width: 60%;
            text-align: left;
        }

        .rom-3 td:nth-child(3) {
            width: 20%;
            text-align: center;
        }

    .rom-3 .text-direction-t td {
        text-align: center;
        font-size: 90%;
        line-height: 20px;
        text-decoration: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.img-rom {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
}

    .img-rom img {
        width: 350px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ededed;
    }

/**/

.rom-page {
    width: 100%;
    display: inline-block;
}

    .rom-page tbody {
        width: 98%;
        display: inline-block;
        background-color: #222;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 15px;
        -moz-border-radius: 5px; /* Firefox */
        -webkit-border-radius: 5px; /* Safari, Chrome */
        -khtml-border-radius: 5px; /* Konqueror */
        border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */
        behavior: url(border-radius.htc); /* IE6, IE7, IE8 */
    }

        .rom-page tbody td {
            width: 97%;
            padding-left: 1.5%;
            padding-right: 1.5%;
            display: inline-block;
            border-top-style: none;
            border-right-style: none;
            border-bottom-style: none;
            border-left-style: none;
        }


.page-ui {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: #fff;
    display: inline-block;
}

    .page-ui strong {
        color: #fad923;
    }

    .page-ui em {
        margin-right: 10px;
    }

    .page-ui a {
        color: #fff;
        background-color: #666;
        font-size: 100%;
        line-height: 160%;
        display: inline-block;
        font-weight: normal;
        text-decoration: none;
        margin-right: 1px;
        margin-left: 1px;
        padding-right: 10px;
        padding-left: 10px;
        -moz-border-radius: 5px; /* Firefox */
        -webkit-border-radius: 5px; /* Safari, Chrome */
        -khtml-border-radius: 5px; /* Konqueror */
        border-radius: 5px; /* Opera 10.50 and later (CSS3 standard) */
        behavior: url(border-radius.htc); /* IE6, IE7, IE8 */
    }

        .page-ui a:hover {
            background-color: #fad923;
            color: #333;
        }

}
